/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

/* product */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.clearfix {
    width: 80%;
    margin: 10px auto;
}

.product {
    float: left;
}

.product img {
    margin: 10px;
    height: 500px;
    object-fit: cover;
}

.description {
    margin: 0px 10px 30px 10px;
}

.discountnumber {
    color: red;
}

.oldnumber {
    text-decoration: line-through;
}