/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

/* product */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.clearfix {
    width: 80%;
    margin: 10px auto;
}

.product {
    float: left;
}

.product img {
    margin: 10px;
    height: 500px;
    object-fit: cover;
    position: relative;
}

/* product description */
.description {
    margin: 0px 10px 30px 10px;
}

.discountnumber {
    color: red;
}

.oldnumber {
    text-decoration: line-through;
}

/* discount, favorite */
.discount {
    position: absolute;
    left: 165px;
    bottom: 250px;
}

.number {
    background-color: red;
    color: white;
    padding: 1px 1px;
}

.sostenibility {
    background-color: green;
    color: white;
    padding: 1px 2px;
}

.hearts {
    position: absolute;
    left: 481px;
    top: 25px;
    font-size: 20px;
    padding: 5px 10px;
    background-color: white;
}